@page
@model IndexModel
@{
    ViewData["Title"] = "IT Monopoly";
}

<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

<div class="card" style=" width:300px; font-size:14px; position: absolute;
    left: 809px;
    top: 145px;">

    <div class="card-header">
        Andre spillere
    </div>
    <div class="card-body" style="color:#fff" id="players">

    </div>
</div>
<div class="card" style=" width:300px; font-size:14px; position: absolute;
    left: 809px;
    top: 45px;">

    <div class="card-header">
        <i id="myCar" class="fas fa-car "></i> Min Credit
    </div>
    <div class="card-body" style="color:#fff" id="minCredit" data-cash-id="1">
    </div>
</div>


<div style="width:800px;">
    <h2 style="margin-left:auto; margin-right:auto; width:250px;">
        <i class="fas fa-microchip"></i> IT Monopoly
    </h2>
</div>

<section class="">
    <div id="dice" class="show-right">
        <figure class="front"></figure>
        <figure class="back"></figure>
        <figure class="right"></figure>
        <figure class="left"></figure>
        <figure class="top"></figure>
        <figure class="bottom"></figure>
    </div>
</section>

<div id="board">

</div><!-- board -->
<!-- Modal join -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">IT Monopol</h5>

            </div>
            <div class="modal-body" style="background: url('./images/online-gaming.jpg');
    height: 300px;
    background-size: cover;">
                <center>
                    <div style="width:150px;">
                        <input class="form-control" id="MyPlayerName" placeholder="Player Name" style="width:150px; height:40px; position: relative;" />
                        <button id="StartGame" class="btn btn-primary" style="width:150px; height:40px; position: inherit;">
                            Join Game
                        </button>
                    </div>

                </center>

            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>



<!-- Modal Buy -->
<div class="modal fade" id="buy" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="buyTitme">Buy Microsoft??</h5>

            </div>
            <div class="modal-body" style="background: url('');
    height: 100px;
    background-size: cover;">
                <center>
                    <div style="width:150px;">
                        <h6 id="cost">
                            Cost: 1000 $
                        </h6>

                    </div>

                </center>

            </div>
            <div style="display: block;" class="modal-footer">
                <center>
                    <button id="buyNow" class="btn btn-sucsess" style="width:150px; height:40px; position: inherit;">
                        Yes
                    </button>

                    <button data-dismiss="modal" id="buyNotNow" class="btn btn-primary" style="width:150px; height:40px; position: inherit;">
                        No
                    </button>
                </center>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Win" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="display:block;"><h2 style="text-align:center;"><span  class="badge badge-secondary" id="WinPlayer">Erik Vant</span></h2></div>
            <div class="card-body"><img src="~/images/win.gif" /></div>
        </div>
    </div>
</div>



